---
Language: Cpp
BasedOnStyle: LLVM
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
PointerAlignment: Left
